[Unit]
Description=Prodigy for Image to text for Manual1-review
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=Manual1-review
Environment=PRODIGY_HOME="/usr/local/prodigy"
Environment=PRODIGY_LOGGING=verbose
Environment=PRODIGY_CONFIG="/usr/local/prodigy/prodigy-tools/configuration/Manual1-review.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy Manual1-review-recipe manual1_review '/usr/local/prodigy/data/Manual/Manual1-review.jsonl' -F /usr/local/prodigy/prodigy-tools/recipes/Manual1-review.py

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target