[Unit]
Description=Prodigy to review layout annotation
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=review_layout_annotation
Environment=PRODIGY_HOME="/usr/local/prodigy"
Environment=PRODIGY_LOGGING=verbose
Environment=PRODIGY_CONFIG="/usr/local/prodigy/prodigy-tools/configuration/review_layout_annotation.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy review-layout-annotation-recipe layout_analysis '/usr/local/prodigy/layout_analysis.sqlite' -F /usr/local/prodigy/prodigy-tools/recipes/review_layout_annotation.py

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
