[Unit]
Description=Prodigy for stt
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=prodigy_stt
Environment="PRODIGY_HOME=/usr/local/prodigy"
Environment="PRODIGY_LOGGING=verbose"
Environment="PRODIGY_CONFIG=/usr/local/prodigy/prodigy-tools/configuration/stt_tt_ge_review.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy audio.transcribe stt_tt_ge_review dataset:stt_tt_ge --fetch-media
#ExecStart=/usr/bin/python3.9 -m prodigy audio.transcribe stt_tt_ge_review /home/spsither/staging/stt_tt_ge_filtered.jsonl --loader jsonl --fetch-media

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target