[Unit]
Description=Prodigy for line segmentation perig print review
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=line_segmentation_perig_preview
Environment=PRODIGY_HOME="/usr/local/prodigy"
Environment=PRODIGY_LOGGING=verbose
Environment=PRODIGY_CONFIG="/usr/local/prodigy/prodigy-tools/configuration/ls_perig_review.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy line-segmentation-review-recipe ls_perig_00_review '/usr/local/prodigy/data/line_segmentation/perig.jsonl' -F /usr/local/prodigy/prodigy-tools/recipes/line_segmentation_review.py

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
