[Unit]
Description=Prodigy for layout analysis
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=layout_analysis
Environment=PRODIGY_HOME="/usr/local/prodigy"
Environment=PRODIGY_LOGGING=verbose
Environment=PRODIGY_CONFIG="/usr/local/prodigy/prodigy-tools/configuration/layout_analysis.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy layout-analysis-recipe layout_analysis 'Works/00/W00EGS1016255/images/W00EGS1016255-I00JW501136' -F /usr/local/prodigy/prodigy-tools/recipes/layout_analysis.py

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
