[Unit]
Description=Prodigy for layout analysis 03
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=layout_analysis_03
Environment=PRODIGY_HOME="/usr/local/prodigy"
Environment=PRODIGY_LOGGING=verbose
Environment=PRODIGY_CONFIG="/usr/local/prodigy/prodigy-tools/configuration/layout_analysis_03.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy layout-analysis-03-recipe layout_analysis_03 '/usr/local/prodigy/prodigy-tools/data/layout_analysis_03.csv' -F /usr/local/prodigy/prodigy-tools/recipes/layout_analysis_03.py

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target