[Unit]
Description=Prodigy for ltt review ga
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=ltt_review_ga
Environment=PRODIGY_HOME="/usr/local/prodigy"
Environment=PRODIGY_LOGGING=verbose
Environment=PRODIGY_CONFIG="/usr/local/prodigy/prodigy-tools/configuration/ltt_review_ga.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy ltt-review-recipe ltt_review_ga '/usr/local/prodigy/data/line_to_text/ltt_annotation_ga.jsonl' -F /usr/local/prodigy/prodigy-tools/recipes/ltt_review.py

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
