[Unit]
Description=Prodigy for script detection
After=syslog.target network.target

[Service]
Type=simple

SyslogIdentifier=script_detection
Environment=PRODIGY_HOME="/usr/local/prodigy"
Environment=PRODIGY_LOGGING=verbose
Environment=PRODIGY_CONFIG="/usr/local/prodigy/prodigy-tools/configuration/script_detection.json"
WorkingDirectory=/usr/local/prodigy
ExecStart=/usr/bin/python3.9 -m prodigy line-segmentation-recipe line_segmentation '/usr/local/prodigy/prodigy-tools/data/line_segmentation.csv' -F /usr/local/prodigy/prodigy-tools/recipes/line_segmentation.py

User=prodigy
Group=prodigy

UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target